[submodule "skills/azure-data-explorer-kusto-queries/dataexplorer-docs"]
	path = skills/azure-data-explorer-kusto-queries/dataexplorer-docs
	url = https://github.com/MicrosoftDocs/dataexplorer-docs.git
